.container {
    max-width: 800px;
}

#results-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.info {
    display: flex;
    align-items: center;
}

.info *:first-child {
    flex-grow: 1;
}

.name, .direction {
    font-size: 1.2em;
}

.number {
    font-size: 0.85em;
}

#chart-tabs {
    overflow-x: scroll;
}

#tab-horizontal {
    min-width: 100%;
}